<h3>Registrarse</h3>
<div class="form">
  <form [formGroup]="signUpForm">
    <label for="">Nombre de usuario</label><br>
    <div class="input">
      <input class="form-control" type="text" formControlName="userName" placeholder="Nombre de usuario" />
      <div class="text-danger" *ngIf="signUpForm.controls['userName'].hasError('required') && signUpForm.controls['userName'].touched">
        Requerido</div>
    </div><br>

    <label for="">Correo</label><br>
    <div class="input">
      <input class="form-control" type="email" formControlName="email" placeholder="Correo electrónico" />
      <div class="text-danger" *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched">
        Requerido</div>
    </div><br>

    <label for="">Contraseña</label><br>
    <div class="input">
      <input class="form-control" type="password" formControlName="password" placeholder="Contraseña" />
      <div class="text-danger" *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password'].touched">
        Requerido</div>
    </div><br>

    <label for="">Confirmar contraseña</label><br>
    <div class="input">
      <input class="form-control" type="password" formControlName="repeatPassword" placeholder="Confirmar contraseña" />
      <div class="text-danger" *ngIf="signUpForm.controls['repeatPassword'].hasError('required') && signUpForm.controls['repeatPassword'].touched">
        Requerido</div><br>
    </div><br>

    <button type="button" (click)="registerUser(signUpForm.value)" class="btn btn-success">Registrarse</button>
    <button type="button" class="btn btn-danger" routerLink="/">Cancelar</button>
  </form>
</div>
